<?xml version="1.0"?>
<robot name="eraser">
  <link name="eraser">
    <inertial>
      <mass value="0.05"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="0.000021" ixy="0" ixz="0" iyy="0.00007" iyz="0" izz="0.00007"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.12 0.05 0.05"/>
      </geometry>
      <material name="black">
        <color rgba="0.3 0.3 0.3 0.9"/>
      </material>
    </visual>
    <collision name="eraser">
      <geometry>
        <box size="0.12 0.05 0.05"/>
      </geometry>
      <drake:proximity_properties>
        <drake:compliant_hydroelastic/>
        <drake:mu_dynamic value="1.0"/>
        <drake:hydroelastic_modulus value="1.0e5"/>
      </drake:proximity_properties>
    </collision>
  </link>
</robot>

