<?xml version="1.0"?>
<robot name="table">
  <link name="box">
    <inertial>
      <mass value="100"/>
      <!-- Inertia values were calculated to be consistent with the mass and
           geometry size, assuming a uniform density. -->
      <inertia ixx="16.667" ixy="0" ixz="0" iyy="16.667" iyz="0" izz="16.667"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1.53 1.22 0.7"/>
      </geometry>
      <material name="grey">
        <color rgba="0.7 0.7 0.7 0.9"/>
      </material>

    </visual>
    <collision name="box">
      <geometry>
        <box size="1.53 1.22 0.7"/>
      </geometry>
      <drake:proximity_properties>
        <drake:rigid_hydroelastic/>
        <drake:mu_dynamic value="0.3"/>
      </drake:proximity_properties>

    </collision>
  </link>
</robot>

